body{
     background-color: #d5e1ef;
     font-family: sans-serif;
}
.container{
   background-color: #fff;
   width: 302px;
   height: 500px;
   border: 1px solid #ccc;
   border-radius: 24px;
   padding: 15px;
   position: absolute;
   margin:auto;
   inset: 0;
   box-shadow: 5px 8px 10px -4px #bdc0c2;
}
.qr-code-img{
    width: 302px;
    height: 302px;
    border: 1px solid #ccc;
    border-radius: 16px;
    background-color: rgb(11, 108, 204);
    position: relative;
}
.svg-img{   
    background-color: white;
    width: 200px;
    height: 200px;
    position: absolute;
    margin: auto;
    inset: 0;
}
.svg-img img{
    width: 100%;
}
.content{
    padding: 0px 10px;
}